---
import { Image } from "astro:assets";
import { FaLongArrowAltRight } from "react-icons/fa";
import { IoLogoGithub } from "react-icons/io5";
import { TbExternalLink } from "react-icons/tb";
import type { CollectionResult, ProjectDto } from "../content/config";

interface Props extends CollectionResult<ProjectDto> {}

const {
  id,
  data: { title, description, date, demo, github, tags, thumbnail },
} = Astro.props;
---

<div
  class="rounded border-[1px] border-d-third overflow-hidden relative bg-d-second transition-all"
>
  <a href={thumbnail} target="_blank">
    <Image src={thumbnail} alt={title} width={600} height={400} />
  </a>

  <div class="p-3 md:p-6">
    <div
      class="flex justify-between align-top items-start mt-3 flex-wrap gap-3"
    >
      <div>
        <h2 class="text-c-main">{title}</h2>
        <p class="text-xs mt-1">{date}</p>
      </div>

      <div class="flex flex-wrap gap-3">
        {
          demo && (
            <a href={demo} target="_blank">
              <button class="btn">
                <TbExternalLink title="Preview demo" />
                demo
              </button>
            </a>
          )
        }
        {
          github && (
            <a href={github} target="_blank">
              <button class="btn">
                <IoLogoGithub title="Github" />
                github
              </button>
            </a>
          )
        }
      </div>
    </div>

    <p class="text-muted text-sm mt-3 mb-12">{description}</p>

    <a href={`/projects/${id}`}>
      <button
        class="fc text-sm text-muted transition-all hover:text-l-main cursor-pointer group"
      >
        More details <div class="transition-all group-hover:translate-x-2">
          <FaLongArrowAltRight />
        </div>
      </button>
    </a>
  </div>
</div>
